<div [ngSwitch]="executionDetails">

  <div *ngSwitchCase="null">

    <mat-toolbar class="toolbar" color="primary">
      Executions
      <span class="app-toolbar-filler"></span>
      <mat-slide-toggle [checked]="false" (change)="change($event)">FAILED ONLY</mat-slide-toggle>
    </mat-toolbar>

    <mat-list-item *ngFor="let execution of executions" (click)="show(execution)">
      <mat-card class="app-card clickable">
        <mat-grid-list cols="4" rowHeight="fit" class="app-execution">
          <mat-grid-tile>
            <div [ngSwitch]="execution.status">
              <mat-icon *ngSwitchCase="null" color="primary">cached</mat-icon>
              <mat-icon *ngSwitchCase="0" color="primary">check</mat-icon>
              <mat-icon *ngSwitchDefault color="error">error_outlined</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            #{{execution.id}}
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-list-item>{{ execution.start | date:'HH:mm:ss' }}</mat-list-item>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list-item>{{ execution.elapsed >= 0 ? execution.elapsed + ' ms' : ''}}</mat-list-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-list-item>

  </div>

  <div *ngSwitchDefault>

    <mat-toolbar class="toolbar" color="primary">
      #{{executionDetails.id}} Execution log
      <span class="app-toolbar-filler"></span>

      <button mat-raised-button (click)="show(null)">Back</button>
    </mat-toolbar>

    <div class="app-log">
      <mat-card *ngFor="let log of executionDetails.log" class="app-card">
        <div class="log-title ">
          <span>{{ log.timestamp | date:'HH:mm:ss' }}</span>
          <span *ngIf="log.error" class="vamp-tag label-danger">ERROR</span>
          <span *ngIf="log.tag" class="vamp-tag label-primary" >{{ log.tag }}</span>
        </div>
        <p class="log-message">{{ log.message }}</p>
      </mat-card>
    </div>
  </div>

</div>
