mat-card {
  height: 3rem;
}

button {
  min-width: 0;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-log {
  word-wrap: break-word;
}

.app-card {
  padding: 1rem;
}

.app-card.clickable {
  cursor: pointer;
}

.app-card.clickable:hover {
  background-color: #f4f4f4;
}

.app-execution {
  height: 4.5rem;
  line-height: 4.5rem;
}

.log-title {
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.log-title > span {
  margin: 0 1rem;
}

.log-message {
  margin: 0 1rem;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
